<p class="copyr">
    <span class="big">©</span> <span class="current-year" data-draw="current-year"></span>
    <a href="http://www.webino.org/" target="_blank" title="Project homepage">webino.org</a>
</p>
<p class="power">
    Founded by <a href="http://www.bacinsky.sk/" target="_blank" title="The PHP developer"><img src="http://www.bacinsky.sk/logo/minibanner.png" width="117" height="23" alt="Peter Bačinský"/></a>
    <a href="http://framework.zend.com/" target="_blank" title="Zend Framework">
        <img src="http://static.webino.org/logo/zend/PoweredBy_ZF_4LightBG.png" width="127" height="25" alt="Zend Framework"/></a>
</p>